<h2 #YourRating class="hidden">Your Rating</h2>
<div id="rating-selection">
  <div #StarDiv id="star-container" (click)="toggleFreezeButton()">
    <ul #StarContainer>
      <li data="1">
        <img src="assets\media\images\ratings\star_clear.png" alt="" />
      </li>
      <li data="2">
        <img src="assets\media\images\ratings\star_clear.png" alt="" />
      </li>
      <li data="3">
        <img src="assets\media\images\ratings\star_clear.png" alt="" />
      </li>
      <li data="4">
        <img src="assets\media\images\ratings\star_clear.png" alt="" />
      </li>
      <li data="5">
        <img src="assets\media\images\ratings\star_clear.png" alt="" />
      </li>
    </ul>
  </div>
</div>
