ul {
  display: flex;
  grid-template-columns: auto, auto, auto, auto, auto;
  justify-content: center;
  list-style-type: none;
}
img {
  width: 1.5vw;
}
#star-container {
  right: 0;
  text-align: center;
  align-self: center;
  content: "";
  border-radius: 2vw;
  width: fit-content;
  padding: 0.5vw;
  padding-bottom: 0.2vw;
  padding-top: 0.5vw;
  transition: background-color ease 0.5s, filter ease 0.3s, opacity ease 0.3s,
    box-shadow ease 0.3s;
  opacity: 80%;
}
#star-container:hover {
  background-color: #60d394;
  opacity: 100%;
}
.active {
  box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.489);
  transform: scale3d(0.9, 0.9, 0.9);
  background-color: #60d394;
}

#rating-selection {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hidden {
  display: none;
}
